{% extends 'base.html.twig' %}

{% block title %}SIIPEV{% endblock %}

{% block body %}

        <div class="container text-info mt-5 border">
         <h2 class="text-center">Bienvenido</h2>
          <p  class="text-center">Usuario SIIPEV</p>
          <div class="mt-5">
          <p class="text-center">Todos los derechos reservados - Secretaria de Ambiente-Bogota D.C. </p>
          <p class="text-center">Avenida Caracas No. 54-38 - Conmutador +57 (1) 3778899 </p>
          <p class="text-center">Horario de atencion al publico</p>
          <p class="text-center">Lunes a Viernes de 8:00 a 5:00 pm</p>
          <p class="text-center">Email: atencionalciudadano@ambientebogota.gov.co</p>
        </div>
        </div>
 
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
