{% extends 'base.html.twig' %}

{% block title %}SIIPEV{% endblock %}

{% block body %}

        <div class="container text-info mt-5 border">
         <h2 class="text-center">En Construccion</h2>
        </div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
