{% extends 'base.html.twig' %}

{% block title %}SIIPEV{% endblock %}

{% block body %}
   <div class="container text-info mt-5 border">
       <iframe class="iframe_menu"   src="http://www.youblisher.com/p/1898102-Manual-Publicidad-ExteriorVisual/"></iframe>
 </div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
