{% extends 'base.html.twig' %}

{% block title %}SIIPEV{% endblock %}

{% block body %}

        <div class="container div_content mt-5 border">
            <div class="text-justify"> La Publicidad Exterior Visual es el medio masivo de comunicación, permanente o temporal, fijo o móvil, que se destine a llamar la atención del público a través de leyendas o elementos visuales en general, tales como dibujos, fotografías, letreros o cualquier otra forma de imagen que se haga visible desde las vías de uso público, bien sean peatonales, vehiculares, aéreas, terrestres o acuáticas, y cuyo fin sea comercial, cívico, cultural, político, institucional o informativo. (Decreto 959 de 2000, Articulo 2).
 <br>
  <br>
Frente a este tema, la Secretaria Distrital de Ambiente – SDA, es la Autoridad Ambiental encargada de realizar la evaluación, control y seguimiento a la Publicidad Exterior Visual en la Ciudad; por medio del registro de Publicidad, la Entidad autoriza al usuario para hacer uso de elementos publicitarios, cuando se evidencia el cumplimiento de las normas vigentes, teniendo en cuenta la información suministrada por su responsable y la verificación de los requisitos por parte de la Secretaría.
  <br>
  <br>
El usuario tiene la opción de realizar el trámite de registro en línea, a través del enlace de la Entidad http://ambientebogota.gov.co/es/web/sda/quejas  o radicando la documentación en los CADES y SuperCADES donde hace presencia la SDA. Así mismo, puede consultar los documentos que debe anexar a la solicitud de registro, de acuerdo al elemento a registrar, siguiendo la ruta http://ambientebogota.gov.co/es/web/sda/formatos-para-tramites-ante-la-sda / Solicitudes relacionadas con calidad del aire, Auditiva y Visual / Registro de Elementos de Publicidad Exterior Visual.
  <br>
  <br>
De igual forma, la Secretaria Distrital de Ambiente, a través de su sede principal ubicada en la Avenida Caracas No. 54 – 38, presta el servicio de asesoría personalizada para resolver cualquier inquietud o duda relacionada con las características que debe cumplir la publicidad a instalar en la ciudad, de acuerdo a la normatividad ambiental vigente en el tema.
A continuación, se presenta la relación de los elementos publicitarios susceptibles de emisión de registro por parte de la  Entidad en el Distrito Capital, así mismo, su vigencia y cobro por concepto de evaluación, control y seguimiento.</div>
        
        </div>
        </div>
 
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
