{% extends 'base.html.twig' %}

{% block title %}SIIPEV{% endblock %}

{% block body %}
  
        <div class="container div_content border" style="margin-top: 150px">
            <div class="text-justify"> 
            Sistema de Información Integral de Elementos de Publicidad Exterior Visual (abreviado SIIPEV), es un sistema de información de acceso al público, que nace a partir de su documento base el Acuerdo 610 de 2015, donde se encuentra la información actualizada de publicidad exterior visual, que sirve para  la toma de decisiones, constituyéndolo como una herramienta indispensable para realizar las labores de control y seguimiento ambiental, fortalecer el control social y la participación ciudadana prevista en la Ley 99 de 1993 y servir de fuente de información constante para la Administración Distrital.

        </div>
        </div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
